
@media screen and (max-width: 576px)  {
	.container a { font-size: 1em; }
}

@media screen and (min-width: 576px) and (max-width: 770px)  {
  .container a { font-size: 0.5em; }
}

@media screen and (min-width: 771px) and (max-width: 989px)  {
	.container a { font-size: 0.7em; }
}

@media screen and (min-width: 990px) and (max-width: 1199px)  {
	.container a { font-size: 1em; }
}

@media screen and (min-width: 1200px)  {
	.container a { font-size: 1em; }
}

#pageLinks a {
  text-align: left;
  width: 100%;
}

#indexpic {
	margin: 0px
	padding: 0px;
}

