@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300|Raleway:300');



html, body {
  height: 100%;

  display: flex;
  flex-direction: column;
}

a:hover {
  text-decoration:none;
}
* {
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
}
span {
  font-size: 1.1em;
  cursor: pointer;
  /*padding-left: 10px;*/
  display: inline;
  color: #fff;
}

#homePage > a {
    color: white;
    text-decoration: none;
}

#homePage > a:hover 
{
     color:white; 
     text-decoration:none; 
     cursor:pointer;  
}

#hamburger {
  font-size: 1em;
  cursor: pointer;
  padding: 10px;
  display: inline;
  color: #fff;
  clear: both;
}

header {
  background-color: #AD2217;
  padding: 10px;
}

h1 {
  font-size: 1.5em;
  padding: 10px;
}

/*.btn {
  text-decoration: none;
  color: #000;
}*/

.container {
  padding: 20px;  
}
.sidenav {
    min-height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 0;  
    background-color: #AD2217;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

.sidenav a {
    padding: 0px 32px 0px 32px;
    text-decoration: none;
    font-size: 0.85em;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav p {
    padding: 30px 32px 0px 32px;
    text-decoration: none;
    font-size: .75em;
    color: #CB8F8F;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
}


.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;},
  .sidenav a {font-size: 18px;}
  h2 {font-size: 6em;}
}
